@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,700&family=Ovo&display=swap");

$darkPurple: #614b65;
$purple: #9a7aa0;
$strongPurple: #542d84;
$azul: #8d94ba;
$gray: #c4c4c4;
$darkGray: #5c5762;
$greenSwamp: #749497;
$green: #b4edd2;
$white: #ffffff;

$firstFont: "Open Sans", sans-serif;
$secondFont: "Ovo", serif;

